/*公共样式*/

html, body {
  margin: 0;
  padding: 0;
}
h1 {
  padding: 12px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 18px;
}
p {
	
  font-size: 15px;
  letter-spacing: 1px;
}
.hr {
  height: 2px;
  width: 100px;
  margin: 20px auto;
}
ul {
  margin: 0;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
}

/*头部样式*/

.main-wrapper {
  background: url("../img/banner.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /*避免屏幕缩小时出现空白区域*/
  overflow: hidden;
}
header {
  background: rgba(0, 0, 0, 0.4);
}

nav {
  height: 50px;
  line-height: 50px;
}
nav ul {
  list-style: none;
  margin: 0;
  float: right;
}
nav ul li, nav .logo {
  display: inline-block;
  line-height: 50px;
}
nav ul li a {
  line-height: 50px;
  text-decoration: none;
  height: inherit;
  margin-right: 40px;
  padding-bottom: 5px;
  color: #eee
}
.active {
  border-bottom: 3px solid #fff;
}
nav ul li a:hover {
  border-bottom: 3px solid #fff;
}
#banner {
  height: 700px;
}
#banner .inner {
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 160px;
  color: #eee;
}
button {
  border: none;
  background-color: #333;
  color: #eee;
  padding: 10px;
  position: relative;
  top: 130px;
}
#banner button {
  padding: 14px 60px;
  cursor: pointer;
  transition: all .5s ease;
}
#banner button:hover {
  background: #675353;
}
#banner .inner .more {
  position: relative;
  top: 220px;
}
.more a {
  text-decoration: none;
  color: #fff;
}
.more a:hover {
  text-decoration: underline;
}
.sub-heading {
  line-height: 30px;
  margin: 30px 0;
}
.logo {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: 20px;
}
.logo a, h1, #banner {
  color: #fff;
  text-decoration: none;
}

/*主题样式一*/

.green-section {
  background-color: rgba(8, 157, 176, 0.8);
  color: #fff;
  text-align: center;
  padding: 100px 0;
}
.green-section .wrapper {
  max-width: 1080px;
  margin: 0 auto;
}
.green-section .hr {
  background-color: #078494;
  width: 60%;
}
.green-section .icon-group .icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: #0D6F7C;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  margin: 20px 40px;
}
.icon-group .icon a {
  display: inline-block;
  width: 140px;
  margin-top: 38px;
  margin-left: -22px;
  text-decoration: none;
  color: #fff;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}
.icon-group .icon a:hover {
  color: #030527;
}
.icon-group {
  margin: 60px;
}

.gray-section {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-size: 0;
}
.gray-section .img-section {
  width: 45%;
}
.img-section img {
  width: 100%;
}
.gray-section .text-section {
  width: 55%;
}
.text-section p a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.article-preview>div {
  float: left;
}
.article-preview:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.2);
}
.text-section {
  position: relative;
  top: 68px;
  left: 50px;
}
.text-section h2 {
  margin-bottom: 20px;
}
.text-section .sub-heading {
  font-size: 22px;
  margin-top: 0;
}
.text-section p {
  font-size: 18px;
  letter-spacing: 1px;
}
.text-section>* {
  max-width: 90%;
}

/*主题样式二*/

.purple-section {
  padding: 80px;
  background-color: rgba(33, 28, 26, 0.44);
  color: #ffffff;
}
.purple-section .heading-wrapper {
  text-align: center;
}
.purple-section .hr {
  background: #373259;
  width: 60%;
}
.card-group:after {
  content: '';
  clear: both;
  display: block;
}
.card {
  float: left;
  width: 50%;
  min-height: 300px;
  padding: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card:first-child {
  background: rgba(0, 0, 0, 0.4);
}
.card:nth-child(2) {
  background: rgba(0, 0, 0, 0.2);
}
.card:nth-child(3) {
  background: rgba(0, 0, 0, 0.2);
}
.card:nth-child(4) {
  background: rgba(0, 0, 0, 0.4);
}
.card:nth-child(5) {
  background: rgba(0, 0, 0, 0.4);
}
.card:nth-child(6) {
  background: rgba(0, 0, 0, 0.2);
}
footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  min-height: 100px;
  text-align: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
ul .share-group {
  display: block;
  width: 1080px;
  margin: 0 auto;
  padding: 120px;
}
.share-group li {
  display: inline-block;
  padding: 25px 20px;
}
.share-group li a {
  text-decoration: none;
  color: #fff;
}
.share-group li a:hover {
  text-decoration: underline;
}
.copy {
  padding-bottom: 30px;
}
.copy p {
  font-size: 16px;
}
/* Form */

	form {
		margin: 0 0 2em 0;
	}

	label {
		color: #fff;
		display: block;
		font-size: 0.9em;
		font-weight: 600;
		margin: 0 0 1em 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: rgba(144, 144, 144, 0.25);
		border-radius: 3px;
		border: none;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		select:focus,
		textarea:focus {
			box-shadow: 0 0 0 2px #21b2a6;
		}

	.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
	}

		.select-wrapper:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.select-wrapper:before {
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			color: #fff;
			content: '\f078';
			display: block;
			height: 2.75em;
			line-height: 2.75em;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 2.75em;
		}

		.select-wrapper select::-ms-expand {
			display: none;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 2.75em;
	}

	textarea {
		padding: 0.75em 1em;
	}

	input[type="checkbox"],
	input[type="radio"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		display: block;
		float: left;
		margin-right: -2em;
		opacity: 0;
		width: 1em;
		z-index: -1;
	}

		input[type="checkbox"] + label,
		input[type="radio"] + label {
			text-decoration: none;
			color: #fff;
			cursor: pointer;
			display: inline-block;
			font-size: 1em;
			font-weight: 400;
			padding-left: 2.4em;
			padding-right: 0.75em;
			position: relative;
		}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				background: rgba(144, 144, 144, 0.25);
				border-radius: 3px;
				content: '';
				display: inline-block;
				height: 1.65em;
				left: 0;
				line-height: 1.58125em;
				position: absolute;
				text-align: center;
				top: 0;
				width: 1.65em;
			}

		input[type="checkbox"]:checked + label:before,
		input[type="radio"]:checked + label:before {
			background: #2e3842;
			color: #fff;
			content: '\f00c';
		}

		input[type="checkbox"]:focus + label:before,
		input[type="radio"]:focus + label:before {
			box-shadow: 0 0 0 2px #21b2a6;
		}

	input[type="checkbox"] + label:before {
		border-radius: 3px;
	}

	input[type="radio"] + label:before {
		border-radius: 100%;
	}

	::-webkit-input-placeholder {
		color: rgba(255, 255, 255, 0.5) !important;
		opacity: 1.0;
	}

	:-moz-placeholder {
		color: rgba(255, 255, 255, 0.5) !important;
		opacity: 1.0;
	}

	::-moz-placeholder {
		color: rgba(255, 255, 255, 0.5) !important;
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		color: rgba(255, 255, 255, 0.5) !important;
		opacity: 1.0;
	}

	.formerize-placeholder {
		color: rgba(255, 255, 255, 0.5) !important;
		opacity: 1.0;
	}

/* Box */

	.box {
		border-radius: 3px;
		border: solid 2px #fff;
		margin-bottom: 2em;
		padding: 1.5em;
	}

		.box > :last-child,
		.box > :last-child > :last-child,
		.box > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}

/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

		.icon.major {
			-moz-transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
			border-radius: 3px;
			border: solid 2px #fff;
			display: inline-block;
			font-size: 1.35em;
			height: calc(3em + 2px);
			line-height: 3em;
			text-align: center;
			width: calc(3em + 2px);
		}

			.icon.major:before {
				-moz-transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
				display: inline-block;
				font-size: 1.5em;
			}

			@media screen and (max-width: 736px) {

				.icon.major {
					font-size: 1em;
				}

			}

		.icon.style1 {
			color: #00ffcc;
		}

		.icon.style2 {
			color: #00f0ff;
		}

		.icon.style3 {
			color: #76ddff;
		}
.slider ul a.active {
    color: #fff;
    background: rgba(240,20,20,.8);
    border-radius: 8px 0 0 8px;
}

.slider ul a {
    position: relative;
    display: block;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
    color: #787d82;
    padding-left: 64px;
    text-align: left;
}

a:link, a:visited, body, html {
    color: #14191e;
}

a:link, a:visited {
    color: #5e5e5e;
}

:link, :visited, ins {
    text-decoration: none;
}

a, button, input {
    outline: 0;
}

.index4-pannel{
	margin-top: 200px;
}

.index4-pannel-header h3{
	float: left;
	 font-size: 20px;
	 color: #3b3b3b;
	 font-weight:normal ;
	 
}
.index4-pannel-header .line{
	float: left;
	margin-top: 7px;
	width: 200px;
	border-top: 1px solid #e5e3e3;
}
